/* ========= BASE ========= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-darker-color);
    color: var(--text-gray-color);
    transition: .5s; //Dark mode animation
    font-family: var(--body-font-a);
}

ul {
    list-style: none;
}

li {
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
}